.top-bar {
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    width: 100vw;
    height: var(--top-bar-height);
    // background-color: orangered;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #fff;

    border-bottom: 1px solid var(--color-grey-light-3);
}

.section-splaschscreen {
    margin-top: ver(--top-bar-height);
    overflow: hidden;
}