:root {
    --color-primary: rgb(0, 85, 164);
    --color-primary-light: rgb(0, 120, 220);
    --color-primary-dark: rgb(0, 50, 105);

    --color-secondary: orange;
    
    --color-tertiary: gray;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark: #ddd;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;
}