:root {
    --color-primary: rgb(0, 85, 164);
    --color-primary-light: rgb(0, 120, 220);
    --color-primary-dark: rgb(0, 50, 105);

    --color-secondary: orange;
    
    --color-tertiary: gray;
}