.btn,
.btn:link,
.btn:visited,
.btn:active {
    display: inline-block;
    width: 100%;
    height: 100%;

    padding: 1rem 2rem;

    text-align: center;
    font-size: inherit;
    text-decoration: none;

    cursor: pointer;
}

.btn--black,
.btn--black:link,
.btn--black:visited,
.btn--black:active {
    background-color: rgba($color-black, 1.0);
    color: #fff;
    transition: all .6s;

    &:hover {
        background-color: rgba($color-black, .5);
    }
}

.btn--oval,
.btn--oval:link,
.btn--oval:visited,
.btn--oval:active {
    border-radius: 3rem;;
}

.btn--white,
.btn--white:link,
.btn--white:visited,
.btn--white:active {
    background-color: rgba(#fff, 1.0);
    color: $color-black;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited,
.btn--primary:active {
    background-color: var(--color-primary);
    color: #fff;
}

