.device-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 0 0 95%;

    padding-bottom: 1.5rem;
    
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .3);

    background-color: #fff;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-between;
        row-gap: 5rem;

        width: 100%;
    }

    &__upper {
        height: auto;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__lower {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        width: 85%;
        padding: 0 1.25rem;

        & > *:not(:last-child) {
            padding-bottom: .75rem;
        }
    }

    &__header {
        margin-left: 1rem;
        margin-top: 1.5rem;
        margin: 1.5rem 0 1rem 1rem;

        font-size: 3.5rem;
        color: var(--color-primary);
    }

    &__description {
        font-size: 1.5rem;
        color: var(--color-black);
        line-height: 1.4;
    }

    &__price {
        margin: 1.5rem 0;
        font-size: 2.5rem;
        font-weight: bold;

        order: 10;
    }

    &__cta {
        font-size: 1.5rem;
        order: 11;
    }

    @media only screen and (min-width: $bp-medium) {
        box-sizing: border-box;
        border-bottom: 1rem solid transparent; // creates space between the rows

        &--2, &--3 {
            flex: 0 0 45%;
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}