.navigation {
    display: hidden;
    width: 100%;
    max-height: calc(100% - var(--top-bar-height)); // make the nav scrollable when multiple
    overflow: scroll;                               // submenus are expanded

    position: fixed;
    top: var(--top-bar-height);
    left: 0;
    z-index: 1000;

    transform: translateX(-100%);
    transition: transform .2s ease-in-out;

    background-color: #fff;

    &-button {
        display: none;
    
        &__label {
            display: inline-block;
            margin: 1.75rem 1rem;
        }
    
        &__icon {
            margin: 1.5rem 0; // make entire hamburger clickable
            position: relative;
            
            &,
            &::before,
            &::after {
                display: inline-block;
                left: 0;
                width: 3.5rem;
                height: 3px;
                background-color: var(--color-primary);
    
                transition: transform .2s ease-out,
                            top .2s ease-out;
            }
    
            &::before,
            &::after {
                content: "";
                position: absolute;
            }
    
            &::before {
                top: -1rem;
            }
    
            &::after {
                top: 1rem;
            }
        }

        // ANIMATION
        &:checked + &__label {
            background-color: var(--color-primary);
        }

        &:checked + &__label &__icon {
            background-color: transparent;
        }

        &:checked + &__label &__icon::before {
            top: 0;
            transform: rotate(135deg);
            background-color: #fff;
        }

        &:checked + &__label &__icon::after {
            top: 0;
            transform: rotate(-135deg);
            background-color: #fff;
        }
    }

    // FUNCTIONALITY
    &-button:checked ~ & {
        display: block;
        transform: translateX(0);
    }

    @media only screen and (hover: hover) and (min-width: $bp-large) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        flex-grow: 0;
        order: 1;
        
        position: relative;
        top: 0;
        transform: translateX(0);
    
        width: 60%;
        max-height: var(--top-bar-height);
        
        overflow: visible;
        
        &-button {
            &__label {
                display: none;
            }
        }
    }
}

.nav-menu {
    display: block;
    min-height: 100vh;
    background-color: var(--color-primary);

    &, &__submenu {
        width: 100vw;
    }

    &__submenu {
        font-size: 2.25rem;
        color: white;
        background-color: var(--color-primary);
        border-bottom: 2px solid var(--color-primary-dark);
    }

    &__submenu-list {
        max-height: 0px;
        overflow: hidden;
        transition: all .3s;
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;

        transition: max-height .3s,
                    background-color .45s;
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding: 1rem 0 1.5rem 0;
        margin-right: 2rem;

        font-size: 2.5rem;
        font-weight: 400;
        text-decoration: none;

        &::after {
            content: "+";
            font-weight: 200;
        }
    }

    &__item {
        padding-top: 1rem;
        padding-left: 2rem;

        color: inherit;
        font-size: inherit;
        background-color: var(--color-primary-dark);

        a,
        a:link,
        a:visited {
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__checkbox:checked ~ &__label > &__title::after {
        content: "-";
    }

    &__checkbox:checked ~ &__label {
        background-color: var(--color-primary-dark);
        
        // Open/close
        & > ul {
            max-height: 300px;
        }
    }

    @media only screen and (hover: hover) and (min-width: $bp-large) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        min-height: 0px;
        width: 80%;

        background-color: transparent;

        &, &__submenu {
            background-color: transparent;
            color: var(--color-primary-dark);
        }

        &__submenu {
            position: relative;

            border-bottom: 3px solid transparent;
            box-sizing: border-box;

            background-color: transparent;
            color: var(--color-primary-dark);   

            &-list {
                // display: hidden;

                position: absolute;
                top: calc(100% + 3px); // size of border;
                left: 0;
                
                width: 100%;

                background-color: #fff;

                max-height: 0px;
            }
        }

        &__submenu:hover {
            border-bottom: 3px solid var(--color-primary-dark);
        }

        &__submenu:hover > &__label > &__submenu-list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: stretch;

            max-height: max-content;
        }

        &__label {
            position: relative;
            display: block;
            // width: auto;
        }

        &__title {
            @include absolute-center;
            
            padding: 0;

            font-size: 2rem;
            font-weight: 500;

            &::after {
                content: "";
                display: none;
            }
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1.5rem 3rem;


            background-color:transparent;
            font-size: 1.75rem;
            color: var(--color-primary-dark);

            &:hover {
                background-color: var(--color-grey-light-3);
            }
        }

        &__checkbox:checked ~ &__label {
            background-color: transparent;

            & > ul {
                max-height: 0px; // disable checkbox functionality
            }
        }
    }

}

.quickmenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: .75rem;
    margin-top: 2rem;
    
    border-bottom: 1px solid #000;

    &__text {
        font-size: 1.5rem;
    }

    &__link {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        font-size: 4rem;

        &-1 {
            color: var(--color-secondary);
        }

        &-2 {
            color: var(--color-primary);
        }

        &-3 {
            color: var(--color-tertiary);
        }
    }

    @media only screen and (hover: hover) and (min-width: $bp-large) {
        justify-content: space-between;
        order: 1;
        width: 15%;
        height: 100%;

        padding:0;
        margin: 0;

        border-bottom: none;
        margin-left: 20%;

        &__text {
            display: none;
        }

        &__link {
            justify-content: space-around;
        }

        &__icon {
            font-size: 3.5rem;
        }
    }
}

.searchbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: stretch;

    margin: .75rem 0;

    &__input {
        width: 90%;
        height: 4rem;
        
        color: var(--color-grey-dark-3);
        background-color: var(--color-grey-dark);
        border: 1px solid #000;

        &::placeholder {
            color: var(--color-grey-dark-3);
        }
    }

    &__button {
        display: block;
        position: relative;
        width: 4rem;
        height: 4rem;
        color: #fff;
        background-color: var(--color-grey-dark-3);
        border: none;
    }

    &__button, &__input {
        font-size: 3rem;
    }
    
    &__icon {
        @include absolute-center;
    }

    @media only screen and (hover: hover) and (min-width: $bp-large) {
        display: none;
        &__button {
            height: 100%;
        }
    }
}