.navigation {
    display: hidden;

    width: 100%;
    height: 100vh;
    // background-color: var(--color-primary);

    position: fixed;
    top: auto;
    left: 0;
    margin-top: 1.5rem;
    z-index: 1000;

    transform: translateX(-100%);
    transition: transform .2s ease-in-out;

    &-button {
        display: none;
    
        &__label {
            display: inline-block;
            margin: 2rem 1rem;
        }
    
        &__icon {
            margin: 1.5rem 0; // make entire hamburger clickable
            position: relative;
            
            &,
            &::before,
            &::after {
                display: inline-block;
                left: 0;
                width: 4rem;
                height: 4px;
                background-color: var(--color-primary);
    
                transition: transform .2s ease-out,
                            top .2s ease-out;
            }
    
            &::before,
            &::after {
                content: "";
                position: absolute;
            }
    
            &::before {
                top: -1.2rem;
            }
    
            &::after {
                top: 1.2rem;
            }
        }

        // ANIMATION
        &:checked + &__label {
            background-color: var(--color-primary);
        }

        &:checked + &__label &__icon {
            background-color: transparent;
        }

        &:checked + &__label &__icon::before {
            top: 0;
            transform: rotate(135deg);
            background-color: #fff;
        }

        &:checked + &__label &__icon::after {
            top: 0;
            transform: rotate(-135deg);
            background-color: #fff;
        }
    }

    // FUNCTIONALITY
    &-button:checked ~ &-button__label > & {
        display: block;
        transform: translateX(0);
    }
}

.nav-menu {
    display: block;
    height: 300rem;
    background-color: var(--color-primary);

    &, &__submenu {
        height: auto;
        width: 100vw;
        list-style: none;
    }

    &__submenu {
        font-size: 2.25rem;
        color: white;
        background-color: var(--color-primary);

        &:not(:last-child) {
            border-bottom: 2px solid var(--color-primary-dark);
        }
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;

        transition: all .3s;

        & > ul {
            max-height: 0px;
            overflow: hidden;
            transition: all .3s;
        }
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding: 1.5rem 0;
        padding-left: 1rem;
        margin-right: 2rem;

        font-size: 2.5rem;
        font-weight: 400;
        text-decoration: none;
        & * {
            flex: 0;
        }

        &::after {
            content: "+";
        }
    }

    &__item {
        // display: none;

        padding-top: 1rem;
        padding-left: 2rem;

        color: inherit;
        font-size: inherit;
        background-color: var(--color-primary-dark);

        a,
        a:link,
        a:visited {
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__checkbox:checked ~ &__label > &__title::after {
        content: "-";
    }

    // Animate Open/close
    &__checkbox:checked ~ &__label > ul {
        max-height: 300px;
    }

}

.quickmenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    padding-bottom: .75rem;
    border-bottom: 1px solid #000;

    &__icon {
        font-size: 4rem;

        &-1 {
            color: var(--color-secondary);
        }

        &-2 {
            color: var(--color-primary);
        }

        &-3 {
            color: var(--color-tertiary);
        }
    }
}

.searchbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: stretch;

    margin: .75rem 0;

    &__input {
        width: 90%;
        height: 4rem;
        
        color: var(--color-grey-dark-3);
        background-color: var(--color-grey-dark);
        border: 1px solid #000;

        &::placeholder {
            color: var(--color-grey-dark-3);
        }
    }

    &__button {
        position: relative;
        width: 9%;
        height: auto;
        color: #fff;
        background-color: var(--color-grey-dark-3);
        border: none;
    }

    &__button, &__input {
        font-size: 3rem;
    }
    
    &__icon {
        @include absolute-center;
    }
}