.offer-card {
    display: inline-block;

    position: relative;

    flex: 0 0 80%;

    -moz-perspective: 150rem;
    -ms-perspective: 150rem;
    -webkit-perspective: 150rem;
    perspective: 150rem; // exact number doesn't matter
    
    border-radius: 2rem;
    
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__side {
        width: 100%;
        background-color: #fff;
        box-shadow: 2px 5px 10px rgba(var(--rgb-color-black), .3);
        transition: all .75s ease-in;

        &--back {
            display: flex;
            justify-content: center;
            
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            margin-top: -20%;

            color: #fff;

            &--1 {
                background-image: linear-gradient(
                    to bottom right,
                    var(--color-primary-light),
                    var(--color-primary-dark)
                );
            }

            &--2 {
                background-image: linear-gradient(
                    to bottom right,
                    var(--color-secondary-light),
                    var(--color-secondary-dark)
                );
            }

            &--3 {
                background-image: linear-gradient(
                    to bottom right,
                    var(--color-tertiary-light),
                    var(--color-tertiary-dark)
                );
            }
        }
    }

    // Front side styling
    &__price {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 35%;
        padding: 7.5rem 0;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        font-size: 2.5rem;

        &--1 {
            background-image: linear-gradient(
                to bottom right,
                var(--color-primary-light),
                var(--color-primary-dark)
            );   
        }
        
        &--2 {
            background-image: linear-gradient(
                to bottom right,
                var(--color-secondary-light),
                var(--color-secondary-dark)
            );
        }

        &--3 {
            background-image: linear-gradient(
                to bottom right,
                var(--color-tertiary-light),
                var(--color-tertiary-dark)
            );
        }

        &-old {
            margin-bottom: 1rem;

            font-size: 2rem;;
            color: var(--color-grey-light-2);
            text-decoration: line-through;;
        }

        &-new {
            color: #fff;
        }
    }

    &__features {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        width: 100%;

        padding-top: 4rem;
        padding-bottom: 15rem;

        &-list {
            width: 100%;
            
            list-style: none;
            
            font-size: 2rem;
            font-weight: 300;
            color: var(--color-grey-dark-3);
            text-align: center;

            & li {
                display: inline-block;
                
                width: 75%;
                padding-bottom: 1.5rem;
                
                border-bottom: 1px solid var(--color-grey-dark-1);
                
                &:not(:last-child) {
                    margin-bottom: 3.5rem;
                }
            }
        }
    }

    // Back side styling
    &__cta {
        flex: 0 0 50%;
        padding: 8rem 0;
        font-size: 2rem;
    }

    @media screen and (min-width: $bp-small) {
        flex: 0 0 51%;   
    }

    @media screen and (min-width: $bp-medium) {
        flex: 0 0 30%;   
    }

    @media screen and (min-width: $bp-large) {
        flex: 0 0 25%;   
    }

    @media screen and (hover: hover) {
        @supports (-webkit-backface-visibility: hidden) or (-moz-backface-visibility: hidden) or (-ms-perspective: hidden) or (backface-visibility: hidden) {
            height: var(--offer-card-height);
            overflow: visible;

            &__side {
                position: absolute;
                top: 0;
                left: 0;
    
                height: var(--offer-card-height);
    
                border-radius: 2rem;
                overflow: hidden;
    
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
    
                &--back {
                    align-items: center;
                    align-content: center;

                    transform: rotateY(180deg);
                    top: 0;
    
                    clip-path: none;
                    margin-top: 0;
                }
            }
    
            &:hover &__side--front {
                transform: rotateY(-180deg);
            }
        
            &:hover &__side--back {
                transform: rotateY(0deg);
            }
        }
    
    }
}