.top-bar__header {
    display: flex;
    align-items: center;
    color: var(--color-primary-dark);
    font-size: 2.5rem;
    font-weight: 500;

    &-link,
    &-link:link,
    &_link:visited {
        text-decoration: none;
        cursor: pointer;
    }
}

.user-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    overflow: visible;

    flex: 0 1 10%;

    cursor: pointer;

    & > * {
        padding: 0 1rem;
    }

    & > *:hover {
        background-color: var(--color-grey-light-3);
    }

    &--1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        font-size: 1.25rem;
        font-weight: 100;
    }

    &--2 {
        display: flex;
        align-items: center;
        overflow: visible;
    }

    &__mail,
    &__mail:link,
    &__mail:visited {
        position: relative;
        margin-bottom: -.4rem;

        font-size: 3rem;
        color: var(--color-primary);

        cursor: pointer;
    }

    &__mail-notification {
        position: absolute;
        top: -10%;
        right: 0;

        background-color: red;
        padding: .2rem;

        font-size: 1.2rem;
        color: #fff;

        border-radius: 50%;
        
        overflow: visible;
    }

    &__profile-image {
        height: 3rem;
        margin-right: 1rem;
        border-radius: 50%;
    }

    &__profile-name {
        font-size: 2rem;
    }
}

@media only screen and (hover: hover) and (min-width: $bp-large) {
    .top-bar__header {
        margin-left: 3rem;
        order: 0;
    }

    .user-icons {
        order: 2;
    }
}