html {
    font-size: 62.5%; // Default 1rem = 10px;
}

body {
    box-sizing: border-box;
    overflow: scroll
}

ul {
    list-style: none;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}